.page {
  color: #1a1a1a;
  background: #f7f3ed;
}

.hero,
.date,
.info {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 480px;
  margin-inline: auto;
}

.hero__text {
  display: flex;
  justify-content: center;
}

.hero_photo_text {
  display: block;
  width: 80%;
}

.hero__collage {
  position: relative;
  flex: 0 0 60%;
  width: 100%;
}

.photo-frame {
  position: relative;
  background: #eee9df;
  padding: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  width: 260px;
  border-radius: 12px;
}

.photo {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  filter: contrast(1.05) saturate(0.9) brightness(1.02);
}

.photo-frame-3 {
  position: absolute;
  top: 2%;
  left: 8%;
  transform: rotate(-6deg);
  aspect-ratio: 3/4;
}

.photo-foreground {
  position: absolute;
  bottom: -10px;
  left: 52%;
  transform: translateX(-50%);
  width: 114%;
  pointer-events: none;
}

.photo-mask {
  position: relative;
  overflow: hidden; /* ← ВОТ ГДЕ РЕЖЕМ */
}

.heart-decoration {
  position: absolute;
  width: 20%;
  right: 18%;
  bottom: 12%;
  transform: rotate(-8deg);
}

.date-decoration {
  position: absolute;
  width: 60%;
  right: 2%;
  bottom: -3%;
}

.note_collage {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  height: 60vh;
  gap: 20px;
}

.date_invite {
  width: 80%;
  align-self: center;
}

.date_heart {
  transform: rotate(113deg);
  width: 105%;
  position: absolute;
  top: -11%;
  z-index: 0;
}

.date_note,
.date_note_location,
.dresscode_info {
  color: #f7f3ed;
  z-index: 1;
  top: 25%;
  left: 18%;
  inline-size: 228px;
  font-size: clamp(13px, 3.5vw, 16px);
}

.date_place {
  z-index: 1;
  width: 34%;
  top: 48%;
  left: 33%;
}

.date_note_location {
  top: 63%;
  left: 25%;
  letter-spacing: 0.08em;
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 45px;
  align-self: center;
  background-color: rgb(206 11 45);
  border: none;
  border-radius: 40px;
  text-decoration: none;
}

.button.map {
  margin-top: 50px;
}

.button_text {
  color: #f7f3ed;
  text-transform: lowercase;
}

.dresscode_info {
  color: #ce0b2d;
  font-weight: bold;
  text-align: center;
}